---

- name: PINTA | Install package
  dnf: pkg=pinta state=present

- name: Scribus | Install package
  dnf: pkg=scribus state=present

- name: Gimp | Install package
  dnf:
    name:
      - gimp
      - gimp-elsamuko
      - gimp-lensfun
      - gimp-separate+
      - gimp-resynthesizer
      - gimp-wavelet-denoise-plugin
      - gimp-lqr-plugin
      - gimp-paint-studio
      - gimp-help-pt_BR
      - gimp-fourier-plugin
    state: latest

- name: Inkscape | Install package
  dnf:
    name:
      - inkscape
      - inkscape-psd
      - inkscape-view
    state: latest

- name: Apps multimedia
  dnf:
    name: 
      - blender
      - kdenlive
      - obs-studio
    state: latest